<%- include('../pages/layout') %>
<main>
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card" style="width: 100rem;"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Roles</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/roles/add">Add roles</a>
                </li>
            </ul>
        </div>
    <div class="card-body">        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Role Name</th>
                    <th scope="col">Permissions</th>
                    <th scope="col">Status</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].roleName%></td>
                    <td><%= data[i].permissions%></td>   
                    <td><%= data[i].status%></td>                
                    <td>
                        <a class="btn btn-success edit" href="../roles/edit/<%=data[i].roleId %>">Edit</a>
                        <a class="btn btn-danger delete" onclick="return alert('Are you sure want to delete this record?')" href="../roles/delete/<%=data[i].roleId  %>">Delete</a> 
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No Roles found!</p>
        <% } %>
        </div>
    </div>
</main>

