
<%- include('../pages/layout') %>
<main>
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card" style="width: 100rem;"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Hotel Rooms</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/hotelrooms/add">Add Room</a>
                </li>
            </ul>
        </div>
    <div class="card-body">        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hotel ID</th>
                    <th scope="col">Room Number</th>
                    <th scope="col">Room Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Availability</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].hotelId%></td>
                    <td><%= data[i].roomNumber%></td> 
                    <td><%= data[i].roomType%></td> 
                    <td><%= data[i].pricePerNight%></td> 
                    <td><%= data[i].availability%></td>                   
                    <td>
                        <a class="btn btn-success edit" href="../hotelrooms/edit/<%=data[i].roomId%>">Edit</a>
                        <a class="btn btn-danger delete" onclick="return alert('Are you sure want to delete this record?')" href="../hotelrooms/delete/<%=data[i].roomId %>">Delete</a> 
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No Hotel Rooms found!</p>
        <% } %>
        </div>
    </div>
</main>
